@font-face {
  font-family: "Ubuntu-Bold";
  src: url(../assets/fonts/Ubuntu-Bold.ttf);
}
@font-face {
  font-family: "Ubuntu-Medium";
  src: url(../assets/fonts/Ubuntu-Medium.ttf);
}
@font-face {
  font-family: "Ubuntu-Regular";
  src: url(../assets/fonts/Ubuntu-Regular.ttf);
}
body {
  background-color: hsl(206, 94%, 87%);
  font-family: "Ubuntu-Regular";
}

.general {
  background-color: hsl(231, 100%, 99%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 32% 65%;
  padding: 10px;
  gap: 20px;
  border-radius: 8px;
}
.general aside {
  background: url(../assets/images/bg-sidebar-desktop.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  padding: 20px;
}
.general aside .steps {
  display: flex;
  flex-direction: column;
}
.general aside .steps .step {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 1;
  color: hsl(0, 0%, 100%);
  margin: 10px 0;
}
.general aside .steps .step .count {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(0, 0%, 100%);
}

.form {
  padding: 10px;
  flex-direction: column;
  justify-content: space-between;
}
.form .form-header h1 {
  font-family: "Ubuntu-Bold";
  font-size: 1.5rem;
}
.form .form-header p {
  font-family: "Ubuntu-Regular";
  font-size: 0.7rem;
}
.form form {
  display: flex;
  flex-direction: column;
}
.form form input {
  all: unset;
  display: inline;
  width: 95%;
  margin-bottom: 10px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}
.form form label {
  display: block;
}
.form form .submit-btn-container {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.form form .submit-btn-container button {
  all: unset;
  padding: 5px 15px;
  background-color: hsl(213, 96%, 18%);
  color: hsl(0, 0%, 100%);
  border-radius: 5px;
}

.input-section {
  width: 100%;
}

.active {
  background-color: hsl(228, 100%, 84%);
}
.active p {
  color: black;
}

@media (max-width: 599px) {
  main {
    height: 100vh;
  }
  .general {
    min-height: 100vh;
    grid-template-columns: 1fr;
    width: 100%;
    background-color: hsl(231, 100%, 99%);
  }
  .general aside {
    background-image: url(../assets/images/bg-sidebar-mobile.svg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    z-index: 1;
  }
  .general aside .steps {
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
  }
  .general aside .steps .step-label {
    display: none;
  }
  .general .form {
    background-color: hsl(0, 0%, 100%);
    min-height: 50vh;
    width: 90vw;
    border-radius: 8px;
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.372);
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    justify-content: center;
    z-index: 2;
  }
}/*# sourceMappingURL=style.css.map */