@font-face {
  font-family: "Ubuntu-Bold";
  src: url(../assets/fonts/Ubuntu-Bold.ttf);
}
@font-face {
  font-family: "Ubuntu-Medium";
  src: url(../assets/fonts/Ubuntu-Medium.ttf);
}
@font-face {
  font-family: "Ubuntu-Regular";
  src: url(../assets/fonts/Ubuntu-Regular.ttf);
}
html,
body {
  height: 100vh;
  margin: 0;
}

body {
  background-color: hsl(206, 94%, 87%);
  font-family: "Ubuntu-Regular";
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.general {
  background-color: hsl(231, 100%, 99%);
  width: 800px;
  height: 457px;
  display: grid;
  grid-template-columns: 32% 65%;
  padding: 10px;
  gap: 10px;
  border-radius: 8px;
}
.general aside {
  background: url(../assets/images/bg-sidebar-desktop.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  padding: 20px;
}
.general aside .steps {
  display: flex;
  flex-direction: column;
}
.general aside .steps .step {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 1;
  color: hsl(0, 0%, 100%);
  margin: 10px 0;
}
.general aside .steps .step .count {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(0, 0%, 100%);
}

.content {
  padding: 20px;
  position: relative;
}

.step1-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.step1-section .form-header {
  margin-bottom: 20px;
  flex: 1;
}
.step1-section .form-header h1 {
  font-family: "Ubuntu-Bold";
  font-size: 1.5rem;
}
.step1-section .form-header p {
  font-size: 1rem;
  font-family: "Ubuntu-Regular";
  color: rgba(0, 0, 0, 0.518);
}
.step1-section form {
  flex: 2;
}
.step1-section form .form-group {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.step1-section form .form-group input {
  all: unset;
  display: inline;
  margin-bottom: 10px;
  padding: 8px;
  border: 2px solid hsl(228, 100%, 84%);
  border-radius: 5px;
  font-size: 1rem;
}
.step1-section form .submit-btn-container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.step1-section form .submit-btn-container button {
  all: unset;
  background-color: hsl(213, 96%, 18%);
  padding: 5px 15px;
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.label-container {
  width: 100%;
  min-height: -moz-fit-content;
  min-height: fit-content;
  display: flex;
  justify-content: space-between;
}
.label-container span {
  color: hsl(354, 84%, 57%);
}

.step2-section {
  width: 100%;
}
.step2-section .section-header {
  margin-bottom: 20px;
  flex: 1;
}
.step2-section .section-header h1 {
  font-family: "Ubuntu-Bold";
  font-size: 1.5rem;
}
.step2-section .section-header p {
  font-size: 1rem;
  font-family: "Ubuntu-Regular";
  color: rgba(0, 0, 0, 0.518);
}
.step2-section .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  width: 80%;
  gap: 10px;
}
.step2-section .cards .card {
  min-height: 150px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid hsl(206, 94%, 87%);
  border-radius: 8px;
  cursor: pointer;
}
.step2-section .cards .card .icon-container {
  pointer-events: none;
}
.step2-section .cards .card .card-title {
  pointer-events: none;
}
.step2-section .cards .card .card-title h3 {
  font-size: 1rem;
  font-weight: bold;
}
.step2-section .cards .card .card-title p {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.518);
}
.step2-section .cards .card .card-title p:last-of-type {
  color: black;
  font-weight: bold;
}
.step2-section .month-year-option-container {
  width: 80%;
  height: 20px;
  margin: 20px 0;
  padding: 20px 0;
  background-color: hsl(217, 100%, 97%);
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.step3-section {
  width: 100%;
}
.step3-section .section-header {
  margin-bottom: 20px;
  flex: 1;
}
.step3-section .section-header h1 {
  font-family: "Ubuntu-Bold";
  font-size: 1.5rem;
}
.step3-section .section-header p {
  font-size: 1rem;
  font-family: "Ubuntu-Regular";
  color: rgba(0, 0, 0, 0.518);
}
.step3-section .cards {
  display: grid;
  grid-template-columns: 1fr;
  width: 80%;
  gap: 10px;
}
.step3-section .cards .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border: 2px solid hsl(206, 94%, 87%);
  border-radius: 8px;
  padding: 10px 20px;
}
.step3-section .cards .card .card-title {
  flex: 1;
}
.step3-section .cards .card .card-title p {
  font-size: 0.8rem;
  font-weight: bold;
}
.step3-section .cards .card .card-title p:last-of-type {
  color: rgba(0, 0, 0, 0.518);
}
.step3-section .cards .card .price {
  color: hsl(243, 100%, 62%);
}

.step4-section {
  width: 100%;
}
.step4-section .section-header {
  margin-bottom: 20px;
  flex: 1;
}
.step4-section .section-header h1 {
  font-family: "Ubuntu-Bold";
  font-size: 1.5rem;
}
.step4-section .section-header p {
  font-size: 1rem;
  font-family: "Ubuntu-Regular";
  color: rgba(0, 0, 0, 0.518);
}
.step4-section .selection-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 80%;
  padding: 10px 20px;
  background-color: hsl(217, 100%, 97%);
}
.step4-section .selection-container p {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.518);
}
.step4-section .selection-container .subscription {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid hsl(206, 94%, 87%);
}
.step4-section .selection-container .add-on {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.step4-section .total {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: 15px 0;
}
.step4-section .confirm-btn {
  all: unset;
  background-color: hsl(213, 96%, 18%);
  padding: 5px 20px;
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.navigation-btn-container {
  width: 80%;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation-btn-container .next-btn {
  all: unset;
  background-color: hsl(213, 96%, 18%);
  padding: 5px 20px;
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}
.navigation-btn-container .prev-btn {
  all: unset;
  font-size: 1rem;
  border: 1px solid hsl(206, 94%, 87%);
  padding: 5px 20px;
  cursor: pointer;
}

.step5-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step5-section .inner-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  padding: 20px;
}
.step5-section .inner-container h1 {
  font-family: "Ubuntu-Bold";
  font-size: 1.5rem;
}
.step5-section .inner-container p {
  font-size: 0.8rem;
  font-family: "Ubuntu-Regular";
  color: rgba(0, 0, 0, 0.518);
}

.hidden {
  display: none;
}

.active {
  background-color: hsl(228, 100%, 84%);
}
.active p {
  color: black;
}

/* Toggle Bar */
.toggle-bar {
  width: 50px;
  height: 20px;
  background-color: #ccc;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Toggle Thumb */
.toggle-thumb {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2.5px; /* Center the thumb vertically */
  left: 2.5px; /* Default position */
  transition: left 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Active State */
.toggle-bar.active {
  background-color: hsl(213, 96%, 18%); /* Active bar color */
}

.toggle-bar.active .toggle-thumb {
  left: calc(100% - 20.5px); /* Move thumb to the right */
}

@media (max-width: 599px) {
  main {
    height: 100vh;
  }
  .general {
    background-color: hsl(206, 94%, 87%);
    height: 100vh;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .general aside {
    background-image: url(../assets/images/bg-sidebar-mobile.svg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    z-index: 1;
  }
  .general aside .steps {
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
  }
  .general aside .steps .step-label {
    display: none;
  }
  .content {
    background-color: hsl(0, 0%, 100%);
    height: 63vh;
    width: 90%;
    border-radius: 5px;
    margin: 0 auto;
    padding: 10px 20px;
    top: 10%;
    z-index: 5;
  }
  .step1-section .form-group .step1-input {
    width: 85%;
  }
  .step2-section {
    padding: 15px;
    inset: 0;
    width: 100%;
    height: 100%;
  }
  .step2-section .cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .step2-section .cards-container .cards {
    grid-template-columns: 1fr;
    width: 90%;
  }
  .step2-section .cards-container .cards .card {
    flex-direction: row;
    min-height: 40px;
    justify-content: flex-start;
    gap: 20px;
  }
  .step2-section .cards-container .month-year-option-container {
    width: 90%;
  }
  .step3-section {
    inset: 0;
    padding: 15px;
  }
  .step3-section .cards {
    width: 100%;
  }
  .step3-section .cards .card {
    width: 100%;
  }
  .step3-section .cards .card .card-title p {
    font-size: 0.7rem;
  }
  .step4-section {
    inset: 0;
    width: 100%;
    padding: 15px;
  }
  .step4-section .selection-container {
    width: 100%;
  }
  .step4-section .total {
    width: 100%;
  }
  .submit-btn-container,
  .navigation-btn-container {
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    height: 20px;
    padding: 35px;
    position: fixed;
    bottom: 0;
    left: 0;
  }
}
[data-step] {
  position: absolute;
  display: none;
}

.selected-plan {
  background-color: hsl(217, 100%, 97%);
  box-shadow: 0 0 3px 4px hsl(206, 94%, 87%);
}

.showing {
  display: block;
}

.hid-bonus {
  display: none;
}/*# sourceMappingURL=style.css.map */