// primary
$Marine-blue: hsl(213, 96%, 18%);
$Purplish-blue: hsl(243, 100%, 62%);
$Pastel-blue: hsl(228, 100%, 84%);
$Light-blue: hsl(206, 94%, 87%);
$Strawberry-red: hsl(354, 84%, 57%);

// neutral
$Light-blue-neutral: hsl(231, 11%, 63%);
$Light-gray-neutral: hsl(229, 24%, 87%);
$Magnolia-neutral: hsl(217, 100%, 97%);
$Alabaster-neutral: hsl(231, 100%, 99%);
$White-neutral: hsl(0, 0%, 100%);

@font-face {
  font-family: "Ubuntu-Bold";
  src: url(../assets/fonts/Ubuntu-Bold.ttf);
}
@font-face {
  font-family: "Ubuntu-Medium";
  src: url(../assets/fonts/Ubuntu-Medium.ttf);
}

@font-face {
  font-family: "Ubuntu-Regular";
  src: url(../assets/fonts/Ubuntu-Regular.ttf);
}
html,
body {
  height: 100vh;
  margin: 0;
}
body {
  background-color: $Light-blue;
  font-family: "Ubuntu-Regular";
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.general {
  background-color: $Alabaster-neutral;
  width: 800px;
  height: 457px;
  display: grid;
  grid-template-columns: 32% 65%;
  padding: 10px;
  gap: 10px;
  border-radius: 8px;
  aside {
    background: url(../assets/images/bg-sidebar-desktop.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 5px;
    padding: 20px;
    .steps {
      display: flex;
      flex-direction: column;
      .step {
        display: flex;
        align-items: center;
        gap: 10px;
        line-height: 1;
        color: $White-neutral;
        margin: 10px 0;
        .count {
          width: 25px;
          height: 25px;
          border-radius: 50%;
          border: 2px solid $White-neutral;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $White-neutral;
        }
      }
    }
  }
}

.content {
  padding: 20px;
  position: relative;
}

// step1 section
.step1-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .form-header {
    margin-bottom: 20px;
    flex: 1;
    h1 {
      font-family: "Ubuntu-Bold";
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
      font-family: "Ubuntu-Regular";
      color: rgba(0, 0, 0, 0.518);
    }
  }
  form {
    flex: 2;
    .form-group {
      display: flex;
      flex-direction: column;
      gap: 3px;
      input {
        all: unset;
        display: inline;
        margin-bottom: 10px;
        padding: 8px;
        border: 2px solid $Pastel-blue;
        border-radius: 5px;
        font-size: 1rem;
      }
    }
    .submit-btn-container {
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      button {
        all: unset;
        background-color: $Marine-blue;
        padding: 5px 15px;
        color: $White-neutral;
        font-size: 1rem;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}

.label-container {
  width: 100%;
  min-height: fit-content;
  display: flex;
  justify-content: space-between;
  span {
    color: $Strawberry-red;
  }
}

// step 2 section
.step2-section {
  width: 100%;
  .section-header {
    margin-bottom: 20px;
    flex: 1;
    h1 {
      font-family: "Ubuntu-Bold";
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
      font-family: "Ubuntu-Regular";
      color: rgba(0, 0, 0, 0.518);
    }
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    width: 80%;
    gap: 10px;
    .card {
      min-height: 150px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 1px solid $Light-blue;
      border-radius: 8px;
      cursor: pointer;
      .icon-container {
        pointer-events: none;
      }
      .card-title {
        pointer-events: none;
        h3 {
          font-size: 1rem;
          font-weight: bold;
        }
        p {
          font-size: 0.8rem;
          color: rgba(0, 0, 0, 0.518);
        }
        p:last-of-type {
          color: black;
          font-weight: bold;
        }
      }
    }
  }
  .month-year-option-container {
    width: 80%;
    height: 20px;
    margin: 20px 0;
    padding: 20px 0;
    background-color: $Magnolia-neutral;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }
}

// step3 section
.step3-section {
  width: 100%;
  .section-header {
    margin-bottom: 20px;
    flex: 1;
    h1 {
      font-family: "Ubuntu-Bold";
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
      font-family: "Ubuntu-Regular";
      color: rgba(0, 0, 0, 0.518);
    }
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    gap: 10px;
    .card {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      border: 2px solid $Light-blue;
      border-radius: 8px;
      padding: 10px 20px;
      .card-title {
        flex: 1;
        p {
          font-size: 0.8rem;
          font-weight: bold;
        }
        p:last-of-type {
          color: rgba(0, 0, 0, 0.518);
        }
      }
      .price {
        color: $Purplish-blue;
      }
    }
  }
}

// step4 section
.step4-section {
  width: 100%;
  .section-header {
    margin-bottom: 20px;
    flex: 1;
    h1 {
      font-family: "Ubuntu-Bold";
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
      font-family: "Ubuntu-Regular";
      color: rgba(0, 0, 0, 0.518);
    }
  }
  .selection-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    padding: 10px 20px;
    background-color: $Magnolia-neutral;
    p {
      font-size: 1rem;
      color: rgba(0, 0, 0, 0.518);
    }
    .subscription {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $Light-blue;
    }
    .add-on {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px;
    }
  }
  .total {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 15px 0;
  }
  .confirm-btn {
    all: unset;
    background-color: $Marine-blue;
    padding: 5px 20px;
    color: $White-neutral;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
  }
}

.navigation-btn-container {
  width: 80%;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .next-btn {
    all: unset;
    background-color: $Marine-blue;
    padding: 5px 20px;
    color: $White-neutral;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
  }
  .prev-btn {
    all: unset;
    font-size: 1rem;
    border: 1px solid $Light-blue;
    padding: 5px 20px;
    cursor: pointer;
  }
}

// step 5 section
.step5-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .inner-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding: 20px;
    h1 {
      font-family: "Ubuntu-Bold";
      font-size: 1.5rem;
    }
    p {
      font-size: 0.8rem;
      font-family: "Ubuntu-Regular";
      color: rgba(0, 0, 0, 0.518);
    }
  }
}

.hidden {
  display: none;
}

.active {
  background-color: $Pastel-blue;
  p {
    color: black;
  }
}

/* Toggle Bar */
.toggle-bar {
  width: 50px;
  height: 20px;
  background-color: #ccc;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Toggle Thumb */
.toggle-thumb {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2.5px; /* Center the thumb vertically */
  left: 2.5px; /* Default position */
  transition: left 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Active State */
.toggle-bar.active {
  background-color: $Marine-blue; /* Active bar color */
}

.toggle-bar.active .toggle-thumb {
  left: calc(100% - 20.5px); /* Move thumb to the right */
}

@media (max-width: 599px) {
  main {
    height: 100vh;
  }
  .general {
    background-color: $Light-blue;
    height: 100vh;
    grid-template-columns: 1fr;
    width: 100%;

    aside {
      background-image: url(../assets/images/bg-sidebar-mobile.svg);
      background-position: center;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 20vh;
      z-index: 1;
      .steps {
        width: 100vw;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
        .step-label {
          display: none;
        }
      }
    }
  }
  .content {
    background-color: $White-neutral;
    height: 63vh;
    width: 90%;
    border-radius: 5px;
    margin: 0 auto;
    padding: 10px 20px;
    top: 10%;
    z-index: 5;
  }

  .step1-section {
    .form-group {
      .step1-input {
        width: 85%;
      }
    }
  }

  .step2-section {
    padding: 15px;
    inset: 0;
    width: 100%;
    height: 100%;
    .cards-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .cards {
        grid-template-columns: 1fr;
        width: 90%;
        .card {
          flex-direction: row;
          min-height: 40px;
          justify-content: flex-start;
          gap: 20px;
        }
      }
      .month-year-option-container {
        width: 90%;
      }
    }
  }

  .step3-section {
    inset: 0;
    padding: 15px;
    .cards {
      width: 100%;
      .card {
        width: 100%;
        .card-title {
          p {
            font-size: 0.7rem;
          }
        }
      }
    }
  }

  .step4-section {
    inset: 0;
    width: 100%;
    padding: 15px;
    .selection-container {
      width: 100%;
    }
    .total {
      width: 100%;
    }
  }

  .submit-btn-container,
  .navigation-btn-container {
    background-color: $White-neutral;
    width: 100%;
    height: 20px;
    padding: 35px;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  // end of media query
}

[data-step] {
  position: absolute;
  display: none;
}

.selected-plan {
  background-color: $Magnolia-neutral;
  box-shadow: 0 0 3px 4px $Light-blue;
}
.showing {
  display: block;
}
.hid-bonus {
  display: none;
}
